<div>
  <h2 id="page-heading" data-cy="OrdenHeading">
    <span jhiTranslate="procesadorOrdenApp.orden.home.title">Ordens</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="procesadorOrdenApp.orden.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-orden"
        [routerLink]="['/orden/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="procesadorOrdenApp.orden.home.createLabel"> Crear nuevo Orden </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ordens?.length === 0">
    <span jhiTranslate="procesadorOrdenApp.orden.home.notFound">Ningún Ordens encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ordens && ordens.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cliente">
            <div class="d-flex">
              <span jhiTranslate="procesadorOrdenApp.orden.cliente">Cliente</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accionId">
            <div class="d-flex">
              <span jhiTranslate="procesadorOrdenApp.orden.accionId">Accion Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accion">
            <div class="d-flex">
              <span jhiTranslate="procesadorOrdenApp.orden.accion">Accion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="precio">
            <div class="d-flex">
              <span jhiTranslate="procesadorOrdenApp.orden.precio">Precio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cantidad">
            <div class="d-flex">
              <span jhiTranslate="procesadorOrdenApp.orden.cantidad">Cantidad</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaOperacion">
            <div class="d-flex">
              <span jhiTranslate="procesadorOrdenApp.orden.fechaOperacion">Fecha Operacion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="modo">
            <div class="d-flex">
              <span jhiTranslate="procesadorOrdenApp.orden.modo">Modo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="operacion.id">
            <div class="d-flex">
              <span jhiTranslate="procesadorOrdenApp.orden.operacion">Operacion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orden of ordens; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/orden', orden.id, 'view']">{{ orden.id }}</a>
          </td>
          <td>{{ orden.cliente }}</td>
          <td>{{ orden.accionId }}</td>
          <td>{{ orden.accion }}</td>
          <td>{{ orden.precio }}</td>
          <td>{{ orden.cantidad }}</td>
          <td>{{ orden.fechaOperacion | formatMediumDatetime }}</td>
          <td>{{ orden.modo }}</td>
          <td>
            <div *ngIf="orden.operacion">
              <a [routerLink]="['/operacion', orden.operacion.id, 'view']">{{ orden.operacion.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/orden', orden.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button type="submit" [routerLink]="['/orden', orden.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(orden)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
