<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-operacion-heading"
        data-cy="OperacionCreateUpdateHeading"
        jhiTranslate="procesadorOrdenApp.operacion.home.createOrEditLabel"
      >
        Crear o editar Operacion
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="procesadorOrdenApp.operacion.cliente" for="field_cliente">Cliente</label>
          <input type="number" class="form-control" name="cliente" id="field_cliente" data-cy="cliente" formControlName="cliente" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="procesadorOrdenApp.operacion.accionId" for="field_accionId">Accion Id</label>
          <input type="number" class="form-control" name="accionId" id="field_accionId" data-cy="accionId" formControlName="accionId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="procesadorOrdenApp.operacion.accion" for="field_accion">Accion</label>
          <input type="text" class="form-control" name="accion" id="field_accion" data-cy="accion" formControlName="accion" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="procesadorOrdenApp.operacion.precio" for="field_precio">Precio</label>
          <input type="number" class="form-control" name="precio" id="field_precio" data-cy="precio" formControlName="precio" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="procesadorOrdenApp.operacion.cantidad" for="field_cantidad">Cantidad</label>
          <input type="number" class="form-control" name="cantidad" id="field_cantidad" data-cy="cantidad" formControlName="cantidad" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="procesadorOrdenApp.operacion.fechaOperacion" for="field_fechaOperacion"
            >Fecha Operacion</label
          >
          <div class="d-flex">
            <input
              id="field_fechaOperacion"
              data-cy="fechaOperacion"
              type="datetime-local"
              class="form-control"
              name="fechaOperacion"
              formControlName="fechaOperacion"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="procesadorOrdenApp.operacion.modo" for="field_modo">Modo</label>
          <input type="text" class="form-control" name="modo" id="field_modo" data-cy="modo" formControlName="modo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="procesadorOrdenApp.operacion.operacionExitosa" for="field_operacionExitosa"
            >Operacion Exitosa</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="operacionExitosa"
            id="field_operacionExitosa"
            data-cy="operacionExitosa"
            formControlName="operacionExitosa"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="procesadorOrdenApp.operacion.operacionObservaciones" for="field_operacionObservaciones"
            >Operacion Observaciones</label
          >
          <input
            type="text"
            class="form-control"
            name="operacionObservaciones"
            id="field_operacionObservaciones"
            data-cy="operacionObservaciones"
            formControlName="operacionObservaciones"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
